{% extends "demo/base.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href={% static "css/style_4.css" %}>

<div id="idMensaje">
  {% if mensaje %}
  {{ mensaje }}
  {% endif %}
</div>

<header class="container1">
  <div class="container1-content container">
    <div class="container1-txt">
      <!-- Campo de búsqueda -->
      <input type="text" id="buscarInput" placeholder="Buscar por nombre o rut...">

      <!-- Tabla de postulantes -->
      <div class="table-responsive">
        
        <table id="tablaPostulantes" class="responsive-table">
          <thead>
            <tr>
              <th>RUN</th>
              <th>Nombre</th>
              <th>Teléfono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <!-- Iteración sobre los datos de postulantes -->
            {% for postulante in demo %}
            <tr id="postulante-{{ postulante.rut }}">
              <td>{{ postulante.rut }}</td>
              <td>{{ postulante.nombre }} {{ postulante.apellido_paterno }} {{ postulante.apellido_materno }}</td>
              <td>{{ postulante.telefono }}</td>
              <td class="acciones">
                <!-- Botones de acción para eliminar y modificar -->
                <button class="btn btn-danger" onclick="eliminarPostulante('{{ postulante.rut }}')">Eliminar</button>
                <a href="{% url 'alumnos_findEdit' pk=postulante.rut %}">
                  <button class="btn btn-success">Modificar</button>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Botones para navegación -->
      <div class="btn-container">
        {% if demo.has_previous %}
        <a href="?page={{ demo.previous_page_number }}" class="btn btn-info">Volver</a>
        {% endif %}
        {% if demo.has_next %}
        <a href="?page={{ demo.next_page_number }}" class="btn btn-info">Siguiente</a>
        {% endif %}
      </div>

      <!-- Contenedor de botones adicionales -->
      <div class="btn-container">
        <a href="{% url 'alumnosAdd' %}" class="btn btn-info">Agregar</a>
        <a href="{% url 'index' %}" class="btn btn-info">Inicio</a>
        <a href="{% url 'listadoSQL' %}" class="btn btn-info">Lista</a>
      </div>
    </div>
  </div>
</header>

<!-- Script para la búsqueda -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const buscarInput = document.getElementById('buscarInput');
    const tablaPostulantes = document.getElementById('tablaPostulantes');
    const rows = tablaPostulantes.getElementsByTagName('tr');

    buscarInput.addEventListener('keyup', function () {
      const filter = buscarInput.value.toUpperCase();

      for (let i = 0; i < rows.length; i++) {
        let nombre = rows[i].getElementsByTagName('td')[1];
        let rut = rows[i].getElementsByTagName('td')[0];

        if (nombre && rut) {
          let textValueNombre = nombre.textContent || nombre.innerText;
          let textValueRut = rut.textContent || rut.innerText;
          if (textValueNombre.toUpperCase().indexOf(filter) > -1 || textValueRut.toUpperCase().indexOf(filter) > -1) {
            rows[i].style.display = '';
          } else {
            rows[i].style.display = 'none';
          }
        }
      }
    });
  });

  function eliminarPostulante(rut) {
    $.ajax({
      url: "{% url 'alumnos_del' pk='0' %}".replace('0', rut),
      type: 'POST',
      data: {
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      success: function(response) {
        $('#postulante-' + rut).remove();
      },
      error: function(xhr, status, error) {
        console.error('Error al eliminar el postulante:', error);
      }
    });
  }
</script>

<script>
  $(document).ready(function () {
    $("#idMensaje").delay(2000).fadeOut("slow");
  });
</script>

{% endblock %}
