{% extends "demo/base.html" %}

{%block content %}


    <style>
        .idMensaje{
            color: white;
        }
        .container pre{
            color: white;
            text-align: left;
            font-size: 17px;
        }
        .container{
            color:white;
        }
        /* Estilos para todos los inputs */
        input[type="text"], input[type="date"], input[type="mail"], select {
            background-color: white; /* Fondo blanco */
            color: black; /* Color del texto negro */
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            margin-bottom: 10px; /* Añade espaciado entre los inputs */
        }
    
        input[type="text"]::placeholder, input[type="date"]::placeholder, input[type="email"]::placeholder {
            color: #999; /* Color del texto del placeholder */
        }
    
        /* Estilos para las opciones dentro del select */
        select option {
            background-color: white; /* Fondo blanco */
            color: black; /* Color del texto negro */
        }
      </style>


    <div style=" text-align: center;">
        <h2>Datos Postulantes</h2><br>
<div id="idMensajes">
    {% if mensaje %}
    {{mensaje}}
    {% endif %}
</div>

<main class="products container">
    <div class="container" >
    <form action="{% url 'alumnosAdd' %}" method="POST">
                    {% csrf_token %}

                    <pre >Rut:                <input type="text" name="rut" required ></pre>
                    <pre >Nombre:             <input type="text" name="nombre" required ></pre>
                    <pre >Apellido P.:        <input type="text" name="paterno" required ></pre>
                    <pre >Apellido M.:        <input type="text" name="materno" required ></pre>
                    <br>
                    <pre >Fecha Nac.:            <input type="date" name="fechaNac" required ></pre>
                    <br>
                    <pre >Genero                 <select name="genero" required > 

                        {% for genero in generos %}
                        <option value="{{genero.id_genero}}">{{genero.genero}}</option>
                        {% endfor %}
                    </select></pre>
                    <pre>Celular:            <input type="text" name="telefono" required ></pre>
                    <br>
                    <pre >Email:              <input type="mail" name="email" required ></pre>
                    <br>
                    <pre >Direccion:         <input type="text" name="direccion"  ></pre>

<br><br>
                    <input type="submit" name="opcion" value="Agregar" required >

                </form> <br><br>

            </div>
            </main>
    <style>
    input[type="text"] {
        background-color: white; /* Fondo blanco */
        color: black; /* Color del texto negro */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    
    input[type="text"]::placeholder {
        color: #999; /* Color del texto del placeholder */
    }
    /* Estilos para el campo select */
    select {
        background-color: white; /* Fondo blanco */
        color: black; /* Color del texto negro */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    /* Estilos para las opciones dentro del select */
    select option {
        background-color: white; /* Fondo blanco */
        color: black; /* Color del texto negro */
    }
    </style>

    {% endblock %}