{% extends "demo/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href={% static "css/style_6.css" %}>

<header class="container1">
    <div class="container1-content container">
        <div class="container1-txt">
            <form action="" method="POST" id="form">
                <div class="form">
                    <h2 style="padding: 4%;">C O N T A C T A N O S </h2>
                    <div class="grupo">
                        <input type="text" placeholder="" id="name" required><span class="barra"></span>
                        <label for="name">Nombre</label>
                    </div>
                    <div class="grupo">
                        <input type="text" placeholder="" id="apellido" required><span class="barra"></span>
                        <label for="apellido">Apellido</label>
                    </div>
                    <div class="grupo">
                        <input type="text" placeholder="" id="ciudad" required><span class="barra"></span>
                        <label for="ciudad">Ciudad</label>
                    </div>
                    <div class="grupo">
                        <input type="text" placeholder="" id="telefono" required><span class="barra"></span>
                        <label for="telefono">Telefono</label>
                    </div>
                    <div class="grupo">
                        <input type="text" placeholder="" id="local" required><span class="barra"></span>
                        <label for="local">Alias</label>
                    </div>
                    <div class="grupo">
                        <input type="email" placeholder=" " id="email" required><span class="barra"></span>
                        <label for="email">Correo electrónico</label>
                    </div>
                    <div class="grupo">
                        <input type="password" placeholder="" id="password" required><span class="barra"></span>
                        <label for="password">Contraseña</label>
                    </div>
                    <div class="actions">
                        <button class="button" type="submit">ENVIAR</button>
                    </div>
                    <p class="warnings" id="warnings"></p>
                </div>
            </form>
        </div>
    </div>
</header>

<script src="{% static 'js/empresa.js' %}"></script>

{% endblock %}
