{% extends "demo/base.html" %}
{% load static %}
{%block content %}

<link rel="stylesheet" href={% static "css/style_15.css" %}>

<br>
    <!-- ¿QUIERES TRABAJAR EN ON TOUR?-->
    <header class="container1">
        <div class="container1-content container">
            <div class="container1-txt">

                <form action="" method="POST" id="form">
                    <div class="form">
                        
                        <h1 style="padding: 4%; font-size: 30px; text-align: center;" >¿QUIERES TRABAJAR EN ON TOUR?</h1>
                        <p style="text-align: center; font-size: 25px;"> Ingresa tus datos aquí y nos comunicaremos contigo</p>
                    
                    </div>
                </form class="was-validated" style="padding: 1%;" >
                
                                <!-- esto es para java en el boton-->  
                                {% csrf_token %}
                                <ul class="actions">
                                    {% comment %} <div style="text-align: center;"> {% endcomment %}
                                        <a href="{% url 'alumnosAdd' %}"> <br> 
                                            <button class="btn btn-info">POSTULAR</button>
                                        </a>
                                        
                                    {% comment %} </div> {% endcomment %}
                                </ul>   
            </div>
        </div>

    </header>
<br><br>

	{% endblock %}