{% extends "demo/base.html" %}
{% load static %}
{% block content %}
<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Portfolio -->
                <section>
                    <header class="major">
                        <h2>Nuestros Vinilos</h2>
                    </header>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <section class="box">
                                <a href="#" class="image featured"><img src="{% static 'imagenbanda/metallica.jpeg' %}"
                                        class="img-fluid mx-auto d-block" style="height: 80%; width: 80%;" alt="Metallica" /></a>
                                <header>
                                    <h3>Metallica</h3>
                                </header>
                                <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem
                                    blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="comprar" class="button alt">Ir a Comprar</a></li>
                                    </ul>
                                </footer>
                            </section>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <section class="box">
                                <a href="#" class="image featured"><img src="{% static 'imagenbanda/kendrickl.jpeg' %}"
                                        class="img-fluid mx-auto d-block" style="height: 80%; width: 80%;" alt="Kendrick Lamar" /></a>
                                <header>
                                    <h3>Kendrick Lamar</h3>
                                </header>
                                <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem
                                    blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="comprar" class="button alt">Ir a Comprar</a></li>
                                    </ul>
                                </footer>
                            </section>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <section class="box">
                                <a href="#" class="image featured"><img src="{% static 'imagenbanda/guns.jpeg' %}"
                                        class="img-fluid mx-auto d-block" style="height: 80%; width: 80%;" alt="Guns n' Roses" /></a>
                                <header>
                                    <h3>Guns n' Roses</h3>
                                </header>
                                <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem
                                    blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="comprar" class="button alt">Ir a Comprar</a></li>
                                    </ul>
                                </footer>
                            </section>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <section class="box">
                                <a href="#" class="image featured"><img src="{% static 'imagenbanda/mac.png' %}"
                                        class="img-fluid mx-auto d-block" style="height: 80%; width: 80%;" alt="Mac Miller" /></a>
                                <header>
                                    <h3>Mac Miller</h3>
                                </header>
                                <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem
                                    blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="comprar" class="button alt">Ir a Comprar</a></li>
                                    </ul>
                                </footer>
                            </section>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <section class="box">
                                <a href="#" class="image featured"><img src="{% static 'imagenbanda/bjork.png' %}"
                                        class="img-fluid mx-auto d-block" style="height: 80%; width: 80%;" alt="Bjork" /></a>
                                <header>
                                    <h3>Bjork</h3>
                                </header>
                                <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem
                                    blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="comprar" class="button alt">Ir a Comprar</a></li>
                                    </ul>
                                </footer>
                            </section>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <section class="box">
                                <a href="#" class="image featured"><img src="{% static 'imagenbanda/theb.jpeg' %}"
                                        class="img-fluid mx-auto d-block" style="height: 80%; width: 80%;" alt="The Beatles" /></a>
                                <header>
                                    <h3>The Beatles</h3>
                                </header>
                                <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem
                                    blandit adipiscing tempus dolore ipsum lorem dolore.</p>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="comprar" class="button alt">Ir a Comprar</a></li>
                                    </ul>
                                </footer>
                            </section>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/empresa.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
