/* Estilos para el carrito */
.carrito {
    width: 80%;
    margin: 20px auto;
    background-color: #252627;
    padding: 20px;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.carrito-items {
    margin-bottom: 20px;
}

.carrito-items table {
    width: 100%;
    border-collapse: collapse;
}

.carrito-items th, .carrito-items td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}

.carrito-items th {
    background-color: #313335;
}

.carrito-total {
    text-align: right;
}

.carrito-total strong {
    font-weight: bold;
}

.carrito-total .total-precio {
    font-weight: bold;
    color: white;
}

.carrito button {
    background-color: rgb(31, 136, 205);
    color: #fff;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.carrito button:hover {
    background-color: #1e88e5;
}
span.total-precio{
    color:black;
  }
.btn-info{
    background-color: #27a1c2 ;
    }
    input.carrito-cantidad{
        color: black;
      }
span.carrito-item-title{
    color:white;
}

span.carrito-precio.carrito-colum{
    color:white;
}

.carrito-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        width: 100%;
    }
  
    .carrito-precio {
        font-weight: bold;
    }
    

  table.carrito-items{
    color: black;
  }  

    .carrito-pagar {
        text-align: center;
        margin-top: 20px;
    }
    
    .btn-info {
        background-color:  #27a1c2;
        color: white;
        border: none;

        padding: 10px 20px;
        cursor: pointer;
        text-decoration: none;
    }
    
    .btn-info:hover {
        background-color:  #27a1c2;
    }
    

 @media (max-width: 768px) {
        .carrito-items {
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        .carrito-items table {
            width: 100%;
        }

        .carrito-items th,
        .carrito-items td {
            padding: 6px;
        }

        .carrito button {
            width: 100%;
        }

        .carrito-cantidad {
            width: 30px;
            padding: 4px;
        }

        .btn-info {
            max-width: none; /* Ajustar el ancho máximo */
            width: 100%; /* Ancho completo en pantallas pequeñas */
            padding: 12px 20px;
            margin-top: 10px;
        }

        .borrar {
            width: 100%;
            padding: 8px 20px;
            margin-top: 10px;
        }
    }

    /* Segunda parte al lado del footer */
    .info-txt{
        width: 50%;
    }
    
    .products{
        padding: 0 0 50px 0;
        text-align: center;
    }
    
    .box-container{
        margin-top: 55px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        gap: 20px;
        background-color: #181819;
        border-radius: 15px;
        
    }

    .box p{
        color: white;
    }

    .box{
        border-top: 2px solid #101111;
        padding: 20px;
        border-radius: 15px;
        z-index: 1000;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        display: none;
    }
    
    .box:nth-child(1),
    .box:nth-child(2),
    .box:nth-child(3),
    .box:nth-child(4){
        display: inline-block;
    }
    
    .box img{
        width: 120px;
    }
    
    .product-txt h3{
        font-size: 20px;
        color: white;
        margin-bottom: 10px;
    }
    
    .product-txt p{
        margin-bottom: 25px;
    }
    
    .precio{
        font-size: 15px;
        color: #27a1c2;    
    }
    
    .btn-2{
        background-color: #27a1c2;
        margin-top: 50px;
        display: inline-block;
        padding: 13px 35px;
        border-radius: 25px;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(106, 104, 104, 0.2);
    }
    
    .btn-2:hover{
        background-color: #27a1c2;
    }
    
    .btn-3{
        display: inline-block;
        padding: 5px 25px;
        background-color: #27a1c2;
        color: #ffffff;
        border-radius: 10px;
    }
    
    .btn-3:hover{
        background-color: #27a1c2;
    }
    
    .btn-primary{
       background-color: #27a1c2;  
    }
    
    #menu{
        display: none;
    }
    
    .menu-icono{
        width: 25px;
    }
    
    .menu label{
        cursor: pointer;
        display: none;
    }
    
    .submenu{
        position:relative;
    }
    
    .submenu #carrito{
        display:none;
    }
    
    
    .submenu:hover #carrito{
        display: block;
        text-align: center;
        right: 0;
        left: 0;
        top: 100%;
        background-color: #77777797;
        padding: 20px;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(37, 36, 36, 0.2);
    }
    
    table{
        width: 100%;
    }
    
    th, td{
        color: #ffffff;
    }
    
    .borrar{
        background-color: #27a1c2;
        border-radius: 50%;
        padding: 5px 10px;
        text-decoration: none;
        color: #ffffff;
        font-weight: 800;
    }
    
    .bg{
        position: absolute;
        width: 700px;
        top: 0;
        right: 0;
        z-index: -1;
    }
    
    .header-content{
        display: flex;
        align-items: center;
    }
    
    .header-txt{
        width: 50%;
        margin-right: 50px;
    }
    
    .header-txt h1{
        font-size: 55px;
        line-height: 65px;
        color: #1d1d1b;
        margin-bottom: 35px;
    }
    
    .header-txt h2{
        font-size: 55px;
        line-height: 65px;
        color: #1d1d1b;
        margin-bottom: 35px;
    }
    
    .header-txt p{
        font-size: 16px;
        color: #5e5e5e;
        margin-bottom: 45px;
    }
    
    .header-txt span{
        color: #27a1c2;
    }

    /* Style para el boton subir*/    
    #button-up{
        width: 60px;
        height: 60px;
        background: #46a2fd;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 50%;
        font-size: 20px;
        position: fixed;
        bottom: 50px;
        right: 50px;
        cursor: pointer;
        border: 4px solid transparent;
        transition: all 300ms ease;
        transform: scale(0);
    }

    #button-up:hover{
        transform: scale(1.1);
        border-color: rgba(0,0,0,0.1);

    }