    :root {
        --colorTextos: #49454567;
    }
    
    
    *,
    ::before,
    ::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    

    
    form{
        background: #242323;
        padding: 40px 0;
        box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
        border-radius: 10px;
    }
    
    .form{
        width: 100%;
        margin: auto;
    }
    
    form .grupo{
        position: relative;
        margin: 45px ;
    }
    
    input{
        background: none;
        color: #c6c6c6;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--colorTextos);
    }
           
    
    input:focus{ 
        outline: none;
        color: #5e5d5d;
    }
    
    label{
        color: var(--colorTextos);
        font-size: 16px;
        position: absolute;
        left: 5px;
        top: 10px;
        transition: 0.5s ease all;
        pointer-events: none;
    }
    
    input:focus~label,
    input:valid~label{
        top: -14px;
        font-size: 12px;
        color: black;
    }

    input[type="text"] {
        background-color: white; /* Fondo blanco */
        color: black; /* Color del texto negro */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 22px;
    }
    
    input[type="email"] {
        background-color: white; /* Fondo blanco */
        color: black; /* Color del texto negro */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 22px;
    }

    textarea{
        background-color: white; /* Fondo blanco */
        color: black; /* Color del texto negro */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 22px;
    }
    
    .barra{
        position: relative;
        display: block;
        width: 100%;
    }
    
    .barra::before{
        content: "";
        height: 2px;
        width: 0%;
        bottom: 0;
        position: absolute;
        background: linear-gradient(to right, #dad315, #eeb925);
        transition: 0.3s ease width;
        left: 0;
    }
    
    input:focus~.barra::before{
        width: 100%;
    }
    
    .warnings{
        width: 200px;
        text-align: center;
        margin: auto;
        color: rgb(48, 170, 235);
        font-size: 25px;
        padding-top: 20px;
    }
    .alerta{
        width: 200px;
        text-align: center;
        margin: auto;
        color: rgb(48, 170, 235);
        font-size: 25px;
        padding-top: 20px;
    }



    form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .actions {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .actions li {
        margin: 0;
    }
    
    .btn {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
/* Responsive Styles */
@media (max-width: 768px) {
.btn {
    padding: 8px 16px;
    font-size: 14px;
}
}

@media (max-width: 480px) {
.btn {
    padding: 6px 12px;
    font-size: 12px;
}
}
    button[class="btn btn-info"] {
            margin: 0 auto; /* Esto centrar치 horizontalmente el bot칩n */
            border: none;
            cursor: pointer;
        }

    button[class="button_1"] {
            margin: 0 auto; /* Esto centrar치 horizontalmente el bot칩n */
            border: none;
            cursor: pointer;
        }            

    @media screen and (max-width:991px){
        form{
            width: 100%;
        }
    }
    .form-control{ 
        margin-left: 4%;
        padding: 4%;       
        width: 92%;
        height: 50px;

    }
    .container1 h1{
        color: white;
    }
    .container1 p{
        color: white;
    }