/* Estilos generales para el contenido */
.container {
    color: white;
    text-align: center;
}

/* Estilos para el mensaje */
#idMensajes {
    color: white;
}

/* Estilos para el texto pre */
.container pre {
    color: white;
    text-align: left;
    font-size: 17px;
    margin-bottom: 10px;
}

/* Estilos para todos los inputs */
input[type="text"],
input[type="date"],
input[type="email"],
select {
    background-color: white; /* Fondo blanco */
    color: black; /* Color del texto negro */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px; /* Añade espaciado entre los inputs */
}

/* Estilos para el texto del placeholder */
input[type="text"]::placeholder,
input[type="date"]::placeholder,
input[type="email"]::placeholder {
    color: #999; /* Color del texto del placeholder */
}

/* Estilos para las opciones dentro del select */
select option {
    background-color: white; /* Fondo blanco */
    color: black; /* Color del texto negro */
}
#text{
    color: white;
}